[data-root='CharCodeTable'] {
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;

  .radix-item {
    flex-grow: 1;
    min-width: 200px;
  }

  dt {
    padding: 0.5em 0;
    font-weight: bold;
    color: rgba(#000, 0.5);
  }

  dd {
    min-width: 240px;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgba(#000, 0.1);
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
  }

  sub {
    font-size: 0.5em;
    opacity: 0.5;
    font-weight: bold;
  }
}
