[data-root='CharCodeTable'] {
  margin: 1em auto;
  //border-collapse: collapse;
  border-spacing: 1em 0;

  th {
    border-bottom: 1px solid rgba(#000, 0.1);
    padding: 0.5em 0;
  }

  td {
    font-family: monospace;
    min-width: 100px;
    padding: 0.25em 0;
    font-size: 3em;
  }

  sub {
    font-size: 0.4em;
    opacity: 0.5;
    font-weight: bold;
  }
}
