.App {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-spinner {
  font-size: 2em;
  font-weight: bold;
}

.App-body {
  flex: 1;
}
